* {
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form > div{
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

form #divRastreamento{
    display: inline-block !important;
}
